/* main thing to give relative*/
.container{
    position: relative;
}

/* picture of bg*/
.container img{
    width: 100%;
    height: 700x;
}


/*BAROQUE tag*/
 #title{
    position: absolute;
    left: 610px;
    top: 10px;
    cursor: pointer;
}


/*btn shop now */
 .container h2{
    border: 3px solid black;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 400px;
    left: 584px;
    cursor: pointer;
    color: rgb(117, 167, 63);
 }
/*Hover*/
 .container #shop h2:hover{
    background-color: #000;
}

/* Parent1 imgs 1&2*/

.parent1{
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
}
#child1 img{
    box-shadow: 1px 4px 6px -1px black;
    border:5px solid #000;
    width: 600px; 
}
/*btn1*/
#child1 h4{
    position: absolute;
    border: 3px solid black;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    left: 230px;
    top: 1350px;
    font-size: larger;
    color: aliceblue;
}
/*Hover*/
.parent1 #child1 h4:hover{
    background-color: #000;
}

#child2 img{
   box-shadow: 1px 4px 6px -1px black;
   border: 5px solid black;
   width: 600px;
   position: relative;
}
/*btn2*/
#child2 h4{
    position: absolute;
    border: 3px solid black;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: larger;
    color: aliceblue;
    left: 850px;
    top: 1350px;
}
/*hover*/
.parent1 #child2 h4:hover{
    background-color: #000;
}

/* Parent2 imgs 3&4*/
.parent2{
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
}
#child3 img{
    box-shadow: 1px 4px 6px -1px black;
    border: 5px solid black;
    width: 600px; 
    position: relative;
}
/*btn3*/
#child3 h4{
    position: absolute;
    border: 3px solid black;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: larger;
    color: aliceblue;
    left: 250px;
    top: 2200px;
}
/* btn hover*/
.parent2 #child3 h4:hover{
    background-color: #000;
}
#child4 img{
    box-shadow: 1px 4px 6px -1px black;
    border: 5px solid black;
    width: 600px;
    position: relative;
}
/*btn4*/
#child4 h4{
    position: absolute;
    border: 3px solid black;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: larger;
    color: aliceblue;
    left: 850px;
    top: 2200px;
}
/*Hover*/
.parent2 #child4 h4:hover{
    background-color: #000;
}
/*DAILY  INTERMIX  TEXT*/
.text{
    margin: 80px;
}
.text p{
    font-weight: 10;
    font-size: larger;
    cursor: pointer;
    text-decoration: underline;
}
.text h5{
    color: red;
    font-size: larger;
    cursor: pointer;
    text-decoration: underline;
}
.text span{
    font-size: larger;
}

/*SHOP THE LOOK title*/
.THELOOK h1{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}
/*Parent3 imgs 5&6 */
.parent3{
    margin: 50px;
    display: flex;
    justify-content: space-around;
}
.parent3 p{
    left: 900px;
    top: px;
}
#child5 img{
    border: 5px solid black;
    width: 600px;
}
#child6 img{
    border: 5px solid black;
    width: 350px;
}
/*VIEW PRODUCT box 6*/
#child6 h3{
    border: 3px solid;
    width: 230px ;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-family: sans-serif;
    color: #185428;
}
/*hover*/
.parent3 #child6 h3:hover{
    background-color: #000;
}

/*BE INSPIRED section*/
.BEINSPIRED h1{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}
/* Parent4 imgs 7,8 & 9 */        
.parent4{
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
}       
#child7 img{
    border: 5px solid black;
    width: 350px;
}
#child8 img{
    border: 5px solid black;
    width: 350px;
}
#child9 img{
    border: 5px solid black;
    width: 350px;
}
/*Subscribe or Email section*/        
.subscribe{
    margin: 75px;
    text-align: center;
}
.subscribe h5{
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}
/*btn subscribe*/        
.subscribe h3{
    position: absolute;
    border: 2px solid;
    width: 250px;
    line-height: 50px;
    left: 750px;
    top: 4725px;
    cursor: pointer;
}
/*Hover*/
.subscribe h3:hover{
    background-color: #666464;
}
/*Input tag styling*/
.subscribe input{
    position: relative;
    bottom:25px;
    right: 100px;
    width: 270px;
    height: 50px;
}

/*foot section*/
.foot{
    display: flex;
    justify-content: space-around;
}

/*footer*/
footer{
    font-size: larger;
    font-family:sans-serif ;
    margin: 25px;
    text-align: center;
}